.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* General Styles */

/* body, html {
  margin: 0px;
  padding: 0px;
} */

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 70vw;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px grey;
}

/* Nav Bar */

.active {
  color: white !important;
}

.nav-link a {
  color: lightgray;
}

.nav-link a:hover {
  color: white;
}

/* Nav Bar */

/* About Me */

.aboutMePicture {
  border-radius: 100%;
  margin: 20px;
  box-shadow: 0px 0px 40px grey;
}

.aboutMeText {
  width: 70%;
  text-align: center;
}

.downloadBtn {
  margin: 10px;
}

/* About Me */

/* Projects */

.projectsContent {
  justify-content: flex-start;
}

.projectsHeading {
  margin: 30px;
}

.card:hover {
  box-shadow: 0px 0px 30px grey !important;
  filter: brightness(85%);
}

.projectsCards .card {
  margin: 20px;
  min-height: 495px;
  max-height: 495px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 30px;
}

.projectsCards .card-img-top {
  max-height: 290px;
  border-radius: 30px 30px 0px 0px;
}

.projectsCards {
  display: flex;
}

.projectsCards a {
  color: black;
}

.projectsCards a:hover {
  text-decoration: none;
  color: black;
}

.projectsCardsRow {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Projects */

/* Experience */

.experienceContent {
  justify-content: flex-start;
}

.experienceHeading {
  margin: 30px;
}

.experienceCardsRow {
  display: flex;
}

.experienceCardsRow .card {
  margin: 20px;
  box-shadow: 0px 0px 20px grey;
  border-radius: 30px;
}

/* Experience */

/* Footer */

.footer {
  height: 14vh;
  width: 100%;
  background-color: rgb(52, 58, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerImage {
  height: 50px;
  margin: 15px;
}

.lastUpdated {
  color: whitesmoke;
  opacity: .5;
}

/* Footer */

/* Media Queries */

@media(max-width: 908px) {
  /* General Styling */
  .content {
    width: 100%;
  }
  body {
    width: 100vw;
  }
  /* General Styling */
  /* Navbar (Removes name) */
  .navbar-brand {
    display: none !important;
  }
  /* Navbar (Removes name) */
  /* About Me */
  .aboutMePicture {
    width: 70%;
  }
  .aboutMeText {
    width: 100%;
  }
  /* About Me */
  /* Projects */
  .projectsCards {
    flex-direction: column;
  }
  /* Projects */
  /* Experience */
  .experienceCardsRow {
    flex-direction: column;
  }
  /* Experience */
}

@media(max-width: 768px) {
  /* General Styling */
  .content {
    width: 100%;
  }
  body {
    width: 100vw;
  }
  /* General Styling */
}